<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/app.js"

</head>

<body>
    
    <header>
        
        <img src = "images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="300" height="200">
        
        <p>Lugar para poner la barra de busqueda</p>
        
        <p>Compré en cuotas y sin tarjeta de crédito</p>
        
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            
            </ul>

            <section>
            
                <div>Basado en tu última visita</div>
                <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="200">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            
            </section>

        </nav>    
        
    </header>
    
    <main></main>
    
    <footer></footer>

</body>

</html>