<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mercado Liebre</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/app.js" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    
    <header class="bg-main">
        
        <section>
            
            <h1 class="width-50">
                <img src = "images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </h1>
        
        <p>Lugar para poner la barra de busqueda</p>
        
        <p class="text-center">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
    
        </section>

        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            
            <ul>
                <li><a href="">Creá tu cuenta <i class="far fa-id-card"></i> </a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            
            </ul>
        </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>    
  
    </header>

    <section>
        <img class="width-100" src="/images/img-home-banner.jpg" alt="" />
    </section>
    
    <main>
        <section>
                
            <h2 class="titulares">Basado en tu última visita</h2>

            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="200">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="300" height="200">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy" width="300" height="200">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv" width="300" height="200">
                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>
            </article>
            
    </section>

    <section>

                <h3 class="titulares">Ofertas</h3>

            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="200">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="300" height="200">
                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy" width="300" height="200">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv" width="300" height="200">
                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>
            </article>
    
    </section>

    </main>
    
    <footer>
        
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <div> Con Mercado Liebre Cash, tenés cuotas sin </div>
            <div>interés con tarjeta o efectivo en puntos de </div> 
            <div> pago. ¡Y siempre es seguro!</div>
        </section>

        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <div> Solo por estar registrad@ en Mercado Liebre </div>
            <div> tenés envíos gratis en miles de productos. Es </div>
            <div> un beneficio de Mercado Puntos.</div>

        <section>
            <h4>Seguridad, de principio a fin</h4>
            <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre</div>
            <div>no hay nada que no puedas hacer, porque estás </div>
            <div>siempre protegid@.</div>
        </section>
        
        <section>
            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>


    </footer>

</body>

</html>