<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mercado Liebre</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">

    <link rel="stylesheet" href="/css/home.css">

</head>

<body class="margin-0 bg-ebebeb">
    
    <header class="header">
        
        <section class="header-container display-flex padding-10">
            
            <h1 class="h1-header margin-0 width-50">
                <a class="header-logo-a" href="/">
                <img class="header-img margin-0" src = "images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </a>
            </h1>

    <form class="nav-bar width-50" action="search" method="get">

            <label class="display-none" for="search">search</label>

            <input
            class="search margin-0"
            type="text"
            name="search"
            id="search"
            placeholder="Buscar productos, marcas y más"
            pattern="[a-zA-Z0-9]{1,16}"
            title="In search you must enter letters, numbers"
          />

        <button id="button-search">
            <i
              class="fas fa-search bg-ebebeb icon-search-align size-16"
            ></i>
        </button>

    </form>
        
        <p class="header-cuotas width-100 text-center">
            <i class="fas fa-hand-holding-usd"></i> 
            Comprá en cuotas y sin tarjeta de crédito
        </p>
    
        </section >

        <nav class="header-nav">
            <ul class="header-nav-left">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            
            <ul class="header-nav-right">
                <li>
                    
                    <a href="/register">Creá tu cuenta
                        <i class="fas fa-address-card"></i
                    ></a>
                  
                </li>
                <li>
                    
                    <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                
                </li>
                <li>
                    <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                
                </li>
            </ul>
        </nav>
                      
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>    
  
    </header>
    
    <main>
      
      <form class="login-main-section-form" action="" method="post">
        <label class="display-none" for="userName">Nombre de usuario</label>
        <input
          class="input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Nombre de ususario"
          pattern="[a-zA-Z0-9_-]{3,16}"
          title="Username should only conatin letters, number, '_', '-'"
        />

        <label class="display-none" for="password-login">Contraseña</label>
        <input
          class="input"
          type="password"
          name="password"
          id="password-login"
          placeholder="Contraseña"
          pattern="^.{4,12}"
          title="The password must be 8 characters or more"
        />
        
        <button
          class="submit-button padding-8 width-100 bg-light-blue color-ebebeb"
          type="submit">
          Enviar
        </button>
      
      </form>
    
    </main>
    
    <footer class="bg-white text-center">
        
      <section class="footer-section">
          <i class="fas fa-credit-card icon-footer margin-bottom-10"></i>
          <h2 class="margin-0 size-16">Pagá con tarjeta o en efectivo</h2>
          <p>
          Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo 
          en puntos de pago. ¡Y siempre es seguro!</p>
      </section>

      <section class="footer-section">
          <i class="fas fa-gift icon-footer margin-bottom-10"></i>
          <h2 class="margin-0 size-16">Envío gratis desde $ 2.500</h2>
          <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en 
          miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>

      <section class="footer-section">
          <i class="fas fa-user-shield icon-footer margin-bottom-10"></i>
          <h2 class="margin-0 size-16">Seguridad, de principio a fin</h2>
          <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas 
          hacer, porque estás siempre protegid@.</p>
      </section>
      
      <section class="footer-section-copyright">
          Copyright © 1999-2020 MercadoLiebre S.R.L.
      </section>


  </footer>

</body>

</html>